OPENAI_API_KEY=your_openai_api_key_here
TECHCABAL_FEED_URLS=https://techcabal.com/feed/
TECHCABAL_MAX_ARTICLES=0
TECHCABAL_ENABLE_ARCHIVE_BACKFILL=true
TECHCABAL_SITEMAP_URL=https://techcabal.com/wp-sitemap.xml
TECHCABAL_ARCHIVE_DB=techcabal_archive.db
TECHCABAL_REQUEST_TIMEOUT=30
